@using System.Web.Mvc
@using BELibrary.Entity
@model Gallery
@{
    ViewBag.Title = ViewBag.Key + " " + ViewBag.Element;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">

                    <!--Nav tabs-->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#post" aria-expanded="true">Bài viết </a></li>
                        <li class=""><a data-toggle="tab" href="#content" aria-expanded="false">Nội dung <span class="badge badge-purple">1</span></a></li>
                    </ul>
                </div>
                <h3 class="panel-title">@ViewBag.Element</h3>
            </div>

            <div class="panel-body">

                <form id="form">
                    <div class="tab-content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (ViewBag.isEdit)
                        {
                            <input type="hidden" value="true" name="isEdit" />
                            <input type="hidden" value="@Model.Id" name="Id" />
                        }
                        else
                        {
                            <input type="hidden" value="false" name="isEdit" />
                        }
                        <div id="post" class="tab-pane fade active in">
                            <div class="panel">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="control-label">Ảnh</label>
                                                <div class="input-group date">
                                                    @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = 250 } })
                                                    <span class="input-group-addon" onclick="ChooseImg()" style="cursor: pointer">
                                                        <i class="fa fa-upload fa-lg"></i>
                                                    </span>
                                                </div>
                                                @if (ViewBag.isEdit)
                                                {
                                                    <img class="img img-thumbnail" id="Img" src="@Model.ImageUrl" />
                                                }
                                                else
                                                {
                                                    <img class="img img-thumbnail" id="Img" src="" />
                                                }
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Loại</label>
                                                @Html.DropDownList("Type", (SelectList)ViewBag.GalleryType, "---Select---", new { @class = "form-control", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a class="btn btn-default btn-icon icon-lg fa fa-arrow-left fa-lg" href="/admin/course"></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-success btn-labeled fa fa-send fa-lg btn-save" style="float: right;" type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            function init() {
                $("#Image").change(function () {
                    var imgSrc = $("input[name=Image]").val();
                    if (imgSrc != "") {
                        $("#Img").attr("src", imgSrc);
                    }
                });
            }

            init();
        });

        function ChooseImg() {
            const finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Img").attr("src", fileUrl);
                $("#ImageUrl").val(fileUrl);
            }
            finder.popup();
        }

        $('#form')
            .submit(function (e) {
                e.preventDefault();
                $(':input[type="submit"]').prop('disabled', true);

                const formData = new FormData(this);

                notify.loading();
                $.ajax({
                    url: '/admin/gallery/CreateOrEdit',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.status) {
                            $.niftyNoty({
                                type: 'success',
                                icon: 'fa fa-check',
                                message: response.mess,
                                container: 'floating',
                                timer: 3000
                            });
                            setTimeout(function () {
                                window.location.href = '/admin/gallery';
                            }, 1000);
                        } else {
                            $.niftyNoty({
                                type: 'danger',
                                icon: 'fa fa-minus',
                                message: response.mess,
                                container: 'floating',
                                timer: 3000
                            });
                            $(':input[type="submit"]').prop('disabled', false);
                        }
                    },
                    error: function () {
                        notify.done();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
    </script>
}